.body {
  display: flex;
  width: 80%;
  justify-content: center;
  align-content: center;
  margin: 20px;
  gap: 20px;
}

.card-movies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

.card {
  width: 80%;
}